*{
margin:0;
padding:0;
font-family:Century Gothic;
}

ul{
float:right;
list-style-type:none;
}
ul li{
display:inline-block;
margin-top:25px;
margin-right:50px;
}
ul li a{
text-decoration:none;
color:white;
padding:5px 20px;
border:1px solid transparent;
transition:0.6s ease;
}
ul li.active a{
background-color:white;
color:black;
}

ul li a:hover{
background-color:white;
color:black;
}

.main{

margin:auto;
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(army.jpg);
height:100vh;
background-size:cover;
background-position:center;
}

.mai{

    margin:auto;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(arm.jpg);
    height:100vh;
    background-size:cover;
    background-position:center;
    }

    .so{

        margin:auto;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(war.jpg);
        height:100vh;
        background-size:cover;
        background-position:center;
        } 

        .ind{

            margin:auto;
            background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(inde.jpg);
            height:100vh;
            background-size:cover;
            background-position:center;
            }  

        .ama{

            margin:auto;
            background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(amar.jpg);
            height:100vh;
            background-size:cover;
            background-position:center;
            }  
            .pra{

                margin:auto;
                background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(pra.jpg);
                height:100vh;
                background-size:cover;
                background-position:center;
                }  

                .mm{

                    margin:auto;
                    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(mm.jpg);
                    height:100vh;
                    background-size:cover;
                    background-position:center;
                    }  
                    .oo{

                        margin:auto;
                        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(oo.jpg);
                        height:100vh;
                        background-size:cover;
                        background-position:center;
                        }  

                    .nn{

                        margin:auto;
                        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(nn.jpg);
                        height:100vh;
                        background-size:cover;
                        background-position:center;
                        }  
                
                .dance{

                    margin:auto;
                    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(dance.jpg);
                    height:100vh;
                    background-size:cover;
                    background-position:center;
                    } 

                .bro{

                    margin:auto;
                    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(bro.jpg);
                    height:100vh;
                    background-size:cover;
                    background-position:center;
                    }   
    .mainn{

        margin:auto;

        }

        .sonu {
            position:absolute;
            top:50%;
            left:20%;
            transform: translate(-50%,-50%);
            }
            .sonu h1{
            color:white;
            font-size:80px;
            }
.armypara
{
    font-size:xx-large;
    font-weight: bold;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    background-color: antiquewhite;
}




